

body{
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.013em;
}
h1{
    color: #515f6d;
    font-weight: 700;
    font-size: 40px;
 }
 h2 {
    margin-bottom: 20px;
    color: #515f6d;
    font-weight: 400;
    font-size: 22px;
 }

.button{
  display: inline-block;
  padding: 15px;
  border: 3px solid #a6bb75;
  margin-right: 30px;
  color: #a6bb75;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15%;
}
